h1{
    color:rgb(219, 204, 204);
    background-color: rgb(143, 2, 131);
}
body{
    background-color: rgb(49, 47, 47);
    color: aqua;
}
a{
     background-color: rgb(102, 98, 98);
    color: aqua;
}